%%% -*- mode: erlang -*-

%% Require OTP version R13B01 or R14
{require_otp_vsn, "R13B01|R14"}.

%% Erlang compiler options
{erl_opts, [debug_info, warnings_as_errors
            , {i, "../ubf/include/"}
            , {i, "../abnfc/include/"}
           ]}.

%% Test Erlang files to compile before the rest.
{eunit_first_files, ["test/eunit/abnf_rfc5234_core.erl"
                     , "test/eunit/abnf_rfc3986.erl"
                    ]}.

%% EUnit options
{eunit_opts, [verbose]}.
